<h1>Show Page</h1>

<p>
  <strong>Tag:</strong>
  <% @post.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <strong>Time:</strong>
  <%= @post.created_at %>
</p>

<br>
<br>


<%= link_to 'Back', posts_path, class: 'btn btn-warning' %>

<hr>

<h3>Comment:</h3>

<%= form_for @comment, url: post_comments_path(post_id: @post.id), method: :post do |f| %> 

<%= f.hidden_field :post_id %> 
<p><strong>Name </strong><br> <%= f.text_field :author %></p> 
<p><strong>Comment</strong> <br> <%= f.text_area :body %></p>  

<p><%= f.submit "Comment" %></p>

<% end %>
<br>

  <h3>Comments</h3>

  <% @post.comments.each do |comment| %>
    
    <p><%= comment.author %><p> 
    <p><%= comment.body %></p> <br>
  <% end%>








